# ========================
# Entorno local / IDEs
# ========================
.vscode/
.idea/
*.swp
*.swo
*.DS_Store
Thumbs.db
ehthumbs.db

# ========================
# Archivos temporales
# ========================
*.bak
*.tmp
*.old
*~
*.orig

# ========================
# Seguridad
# ========================
.env
.env.*
!.env.example

# ========================
# Base de datos y código fuente
# ========================
./data/*
./data/database/*
!./data/backups/.gitkeep
./data/dumps/*
!./data/dumps/.gitkeep
./data/restore/*
!./data/restore/.gitkeep
./src/*